<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RelaxingMusic"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">

        <activity android:name="com.blissful.app.Activity.Splashscreen"
         android:theme="@style/Theme.RelaxingMusic"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.blissful.app.Activity.player_activity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            />
        <activity android:name="com.blissful.app.Activity.List_activity"
             />
        <activity android:name="com.blissful.app.Activity.MainScreen" />
        <service android:name="com.blissful.app.DB.FirebaseDB"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/APP_AD_id"/>

    </application>

</manifest>